#delete_flask
Flask==2.2.2
pymongo[srv]


aiofiles==24.1.0
aiohttp==3.10.3
asyncio==3.4.3
gitpython==3.1.43
httpx==0.25.0
motor==3.6.0
ntgcalls
pillow==9.5.0
py-tgcalls==2.1.0
python-dotenv==1.0.1
tgcrypto==1.2.5
youtube-search-python
#yt-dlp==2025.1.12
https://github.com/adityahalder/pyrogram/archive/master.zip

yt-dlp
youtube-search
